/node_modules
/coverage
/junit
/cypress/screenshots
/cypress/videos
/src/assets
/src/test
/src/config
/public
!.*.json
tsconfig.json
package-lock.json
**/.eslintrc.json
/cache
development.js
/DevOps
/build
/pdf-viewer